body#code-window {
  padding: 10px;
  max-width: 100%;
}
body#code-window .syntaxhighlighter.js {
  overflow: visible !important;
  max-width: 100%;
  width: 100%;
  z-index: -1;
}
body#code-window nav { 
  border-bottom: 1px dotted #cfcfcf; 
  position: fixed;
  z-index: 10000;
  top: 0;
  background: rgba(255,255,255,0.97);
  right: 0;
  left: 0
}
body#code-window nav h3 { 
  display: inline-block;
  padding: 20px;
  margin: 0;
}
#code-window.mmvp h3.mmvp, #code-window.todo h3.todo { 
  font-weight: bold; 
  color: #333; 
  background: #f7f7f7;
  border-left: 1px dotted #cfcfcf;
  border-right: 1px dotted #cfcfcf;
}


body#code-window section.source { display: none; margin-top: 60px; }
body#code-window.todo section.source.todo { display: block; }
body#code-window.mmvp section.source.mmvp { display: block; }
body#code-window a { 
  float: right; 
  z-index: 100;
  font-size: 11px;
  background: white;
  padding: 3px;
  position: fixed;
  right: 10px;
}
