/* reset styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, nav, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, nav { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* typography */
@font-face {
  font-family: Quattrocento Sans;
  src: url(../ttf/QuattrocentoSans-Regular.ttf);
}
@font-face {
  font-family: Quattrocento Sans;
  font-weight: bold;
  src: url(../ttf/QuattrocentoSans-Bold.ttf);
}
@font-face {
  font-family: Quattrocento Sans;
  font-style: italic;
  src: url(../ttf/QuattrocentoSans-Italic.ttf);
}

/* page styles */
body {
  padding: 50px;
  max-width: 360px;
  margin: 0 auto;
  font-family: Quattrocento Sans;
  font-size: 14px;
  color: #101010;
  vertical-align: text-bottom;
}
i, em { font-style: italic; }

a {
  text-decoration: none;
  color: #002369;
}
a:hover {
  color: #001848;
  border-bottom: 1px dotted #001848;
}

h2 {
  padding-right: 20px;
  float: left;
  display: inline-block;
  margin-left: -120px;
  width: 100px;
  text-align: right;

  font-size: 14px;
  font-weight: bold;
  border-right: 1px dotted #cfcfcf;
  padding-right: 20px;
  margin-right: 20px;


  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
nav#sidebar a {
  display: inline-block;
  color: #888888;
  font-size: 12px;
  text-decoration: none;
}
nav#sidebar a:hover {
  color: #002369;
}

h1 {
  color: #002369;
  font-size: 24px;
  font-weight: normal;
}

span.subline {
  font-size: 12px;
}

h2 {
}


a.small {
  font-size: 12px;
}

main {
  display: inline-block;
}

main p {
  margin: 10px 0;
  margin-bottom: 20px;
  line-height: 20px;
}

main sub {
  font-size: 0.6em;
}

main section {
  margin: 30px 0;
  margin-bottom: 60px;
}

main section code {
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  font-size: 12px;
  padding: 3px;
  color: #4c4c4c;
}

hr {
  margin: 30px 0;
  border: none;
  border-bottom: 1px dashed #cfcfcf;
  height: 0px;
  overflow: hidden;
  display: block;
}

main section#demo nav {
  line-height: 16px;
  text-align: right;
}
main section#demo nav div {
  display: inline-block;
}

main section#demo nav div.app {
}


.sidebar {
  float: left;
  width: 80px;
  margin-left: -100px;
  text-align: right;
  padding-right: 20px;
}

.sidebar nav h2 {
  font-size: 10px;
}

h3 {
  display: inline-block;
  padding: 0;
  margin-left: 10px;
  color: #c1c1c1;
  font-weight: normal;
  cursor: pointer;
  width: auto;
  border: none;
}

h3.active, #code-window.mmvp h3.mmvp, #code-window.todo h3.todo {
  font-weight: bold;
  color: #333;
}

section#switcher {
  margin: 15px 0;
  display: block;
  width: 100%;
  border-bottom: 1px dotted #cfcfcf;
  padding: 30px 0;
 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section#switcher section { display: none; }
section#switcher section.active { display: block; }
section#switcher #buttons { }

/* Application View */
section#switcher section.view {
  text-align: left;
  margin: 0;
}
section#switcher section.view input[type='text'] {
  font-family: Quattrocento Sans;
  padding: 4px;
  margin: 0;
  margin-top: 20px;
}

.syntaxhighlighter.js { width: 360px !important; }
.code .syntaxhighlighter.js { width: 100% !important; }

section#switcher section.view #viewpen div {
  vertical-align: baseline;
  margin: 10px 0;
  margin-top: 0;
}
section#switcher section.view #viewpen div button,  section#switcher section.view #viewpen div input, section#switcher section.view #viewpen div span 
{
  vertical-align: middle;
}
section#switcher section.view #viewpen div span  {
  border-left: 1px dotted #cfcfcf;
  padding-left: 10px;
  margin-left: 10px;
}

section#switcher section.view input[type='checkbox'] {
  margin: 0;
}

section#switcher section.view #viewpen {
  font-size: 14px;
}
section#switcher section.view #viewpen #items-container {
}
section#switcher section.view #viewpen #items-container div {
  opacity: 0;
}
section#switcher section.view #viewpen #items-container div span {
  width: 200px;
  text-align: left;
  display: inline-block;
}
section#switcher section.view #viewpen #items-container div.strikethrough span {
  text-decoration: line-through;
}

section#switcher section.view #viewpen #items-container div button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  float: right;
  font-size: 9px;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  padding: 3px 7px;
  color: #cfcfcf;
}
section#switcher section.view #viewpen #items-container div button:hover {
  cursor: pointer;
  background: #f9f9f9;
}

section#switcher section.view #no-items {
  opacity: 0;
  margin-bottom: 0 !important;
}
section#switcher section.view #viewpen p { 
  font-size: 10px;
  margin: 0; 
}
section#switcher section.view #viewpen h3 {
  font-size: 14px;
}
section#switcher section.source a, section#switcher section.implementation a {
  float: right;
  font-size: 10px;
}

#code { display: none; }
